
.App {

  margin: auto;

  width: 50%;

}

.myForm{

  width: 100%;

  background-color: white;

  border-radius: 5px;

  padding: 20px;

  border: 5px solid gray;


}

.formField{

  width: 75%;

  padding: 12px 20px;

  margin: 8px 0;

  display: inline;

  border: 1px solid #ccc;

  border-radius: 5px;

  box-sizing: border-box;

}

.myButton{

  width: 25%;

  background-color: white;

  color: green;

  padding: 14px 20px;

  margin: 8px 0;

  border-style:solid;

  border-color:green;

    

  border-radius: 4px;

  cursor: pointer;

}

.myList{
 
  display: flex;  
}

#list {list-style-position:inside;}

#button_1 { 
  height: 20px;

  width: 75px;

  border-radius: 7px;

  border: 1px solid grey;

  margin: 3px 5px;}

#button_2 { 
  height: 20px;

  width: 75px;

  border-radius: 7px;

  border: 1px solid grey;

  margin: 3px 5px;}
#checkbox {
  order: -1;
}
